@import "constants";

.panel {
    position: relative;
    outline: $px solid $text-color-default;
    padding: 1rem #{2 * $cw};
    outline-offset: - 0.5rem;
}

.panel-label {
    position: absolute;
    top: 0;
    left: 1rem;
    background-color: $background-color-default;
}
