$black: #000;
$dark-gray: #555;
$blue: #00a;
$light-blue: #55f;
$green: #0a0;
$light-green: #5f5;
$cyan: #0aa;
$light-cyan: #5ff;
$red: #a00;
$light-red: #f55;
$magenta: #a0a;
$light-magenta: #f5f;
$brown: #a50;
$yellow: #ff0;
$light-gray: #aaa;
$white: #fff;

$background-color-default: $blue;
$text-color-default: $light-gray;

$px: 1rem / 8;
$font-size: 18px;
$line-height: 10 * $px;
