@import "constants";

.dos-panel {
    position: relative;
    outline: $px solid $text-color-default;
    padding: $line-height-default 1rem;
    outline-offset: -5 * $px;
}

.dos-panel-label {
    position: absolute;
    top: 0;
    left: 1rem;
    background-color: $background-color;
    // z-index: 10;
}
