@font-face {
    font-family: 'DOS';
    src: url('fonts/Fixedsys500c.eot');
    src: local('☺'), url('assets/fonts/Fixedsys500c.woff') format('woff'), url('assets/fonts/Fixedsys500c.ttf') format('truetype'), url('assets/fonts/Fixedsys500c.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
