@font-face {
    font-family: 'dos';
    src: url('assets/fonts/PxPlus_IBM_VGA8.woff2')  format('woff2'), url('assets/fonts/PxPlus_IBM_VGA8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
