@import "constants";
@import "functions";

button {
    padding: 0 1rem;
    line-height: inherit;
    color: $black;
    background: $light-gray;
    margin-right: 1rem;
    margin-bottom: 1rem;

    &:not(:disabled) {
        @include box-shadow(0.5rem #{0.5 * $line-height} 0 $black);
    }

    &:disabled {
        color: $dark-gray;
    }

    &:not(:disabled):active {
        color: $white;
        background: $black;
    }

    &, &:focus, &:hover {
        border: none;
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

input[type=text] {
    border: none;
    outline: none;
    background: $cyan;
    color: $black;
    height: $line-height;
    cursor: text;

    &::placeholder {
        color: $dark-gray;
    }

    &:disabled {
        background: $light-gray;
    }
}

input[type=checkbox] {
    @include appearance-none;

    cursor: pointer;

    &::before {
        content: '[ ]';
        color: $light-gray;
    }

    &:checked {
        &::before {
            content: '[x]';
        }
    }

    &:disabled::before {
        color: $dark-gray;
    }

    &:focus {
        outline: none;
        border: none;
    }
}
