@import "constants";
@import "functions";

button {
    padding: 0 1rem;
    line-height: inherit;
    color: $black;
    background: $light-gray;
    margin-right: 1rem;
    margin-bottom: 1rem;

    &:not(:disabled) {
        @include box-shadow((0.5 * $cw) 0.5rem 0 $black);
    }

    &:disabled {
        color: $dark-gray;
    }

    &:not(:disabled):active {
        color: $white;
        background: $black;
    }

    &, &:focus, &:hover {
        border: none;
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

input[type=text] {
    border: none;
    outline: none;
    background: $cyan;
    color: $black;
    height: 1rem;
    cursor: text;

    &::placeholder {
        color: $dark-gray;
    }

    &:disabled {
        background: $light-gray;
    }
}

input[type=checkbox] {
    @include appearance-none;

    cursor: pointer;

    &::before {
        content: '[ ]';
        color: $light-gray;
    }

    &:checked {
        &::before {
            content: '[x]';
        }
    }

    &:disabled::before {
        color: $dark-gray;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

input[type=radio] {
    @include appearance-none;

    cursor: pointer;

    &::before {
        content: '( )';
        color: $light-gray;
    }

    &:checked {
        &::before {
            content: '(*)';
        }
    }

    &:disabled::before {
        color: $dark-gray;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

input[type=range] {
    $slider-color: $light-gray;

    @include appearance-none;

    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    height: 1rem;

    &::-webkit-slider-runnable-track {
        @include appearance-none;

        width: 100%;
        height: 1 * $px;
        cursor: pointer;
        background: $slider-color;
        outline: none;
        border: none;
    }

    &::-webkit-slider-thumb {
        @include appearance-none;

        height: 1rem;
        width: $cw;
        background: $slider-color;
        cursor: pointer;
        margin-top: -0.5rem;
        border-radius: 0;
        outline: none;
        border: none;
    }

    &::-moz-range-track {
        @include appearance-none;

        width: 100%;
        height: 1 * $px;
        cursor: pointer;
        background-color: $slider-color;
        outline: none;
        border: none;
    }

    &::-moz-range-thumb {
        @include appearance-none;

        height: 1rem;
        width: $cw;
        border-radius: 0;
        background: $slider-color;
        cursor: pointer;
        outline: none;
        border: none;
    }

    &:focus {
        outline: none;
        border: none;
    }
}
