@mixin box-shadow($def) {
    box-shadow: $def;
    -webkit-box-shadow: $def;
}

@mixin appearance-none {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@mixin user-select($value) {
    user-select: $value;
    -webkit-user-select: $value;
    -moz-user-select: $value;
}
