@import "constants";

:root {
    --character-width: #{$character-width};
    --character-height: #{$character-height};
    --font-size: #{$font-size};
    --line-height: #{$line-height};
    --px: #{$px};
    --cw: #{$cw};

    --black: #{$black};
    --dark-gray: #{$dark-gray};
    --blue: #{$blue};
    --light-blue: #{$light-blue};
    --green: #{$green};
    --light-green: #{$light-green};
    --cyan: #{$cyan};
    --light-cyan: #{$light-cyan};
    --red: #{$red};
    --light-red: #{$light-red};
    --magenta: #{$magenta};
    --light-magenta: #{$light-magenta};
    --brown: #{$brown};
    --yellow: #{$yellow};
    --light-gray: #{$light-gray};
    --white: #{$white};

    --background-color-default: #{$background-color-default};
    --text-color-default: #{$text-color-default};

    background: $background-color-default;
    color: $text-color-default;
    font-family: dos;
    font-size: $font-size;
    line-height: $line-height;
}

p {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
}

a {
    &, &:visited, &:active, &:hover, &:focus {
        color: inherit;
        text-decoration: underline;
    }
}

strong {
    color: $cyan;
}
