body {
    background: $background-color;
    color: $text-color-default;
    font-family: DOS;
    font-size: $font-size-default;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;

    &:not(:first-of-type) {
        margin-top: 1rem;
    }
}
