@import 'bootstrap.min.css';
@import 'bootstrap-theme.min.css';
@import 'fixes.css';

body {
    padding-top: 2.5rem;
}

.border-box {
    border: 2px solid;
    background: #555;
    box-shadow: 0 0 0 5px #555;
}

.emulation-viewport {
    height: 360px;
    width: 480px;
    vertical-align: top;
}

.emulation-viewport.error-display {
    background: #700;
    padding: 1rem;
    text-align: center;
}

.emulation-viewport.placeholder {
    background: #070;
    padding-top: 9rem;
    text-align: center;
}

.settings-grid .row {
    padding-bottom: 0.5rem;
}

.hidden {
    display: none;
}

input[type='text'].invalid {
    background-color: #A00;
}

.helppage h1 {
    color: #fff;
}

.helppage h2 {
    color: #fff;
}

.helppage strong {
    color: #fff;
}

.helppage a {
    color: #090;
}

.build-id {
    color: #fff;
    margin-bottom: 1rem;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 16px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #aaaaaa;
}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    background: #aaa;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
    border-radius: 0;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #aaa;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 10px;
    border-radius: 0px;
    background: #aaa;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #aaa;
    border: 0px solid #aaa;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #aaa;
    border: 0px solid #aaa;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 10px;
    border-radius: 0px;
    background: #aaa;
    cursor: pointer;
    height: 4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #aaa;
}

input[type=range]:focus::-ms-fill-upper {
    background: #aaa;
}
